USE [master]
GO
/****** Object:  Database [Proyecto_DMD]    Script Date: 9/3/2020 1:32:04 PM ******/
CREATE DATABASE [Proyecto_DMD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto_DMD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Proyecto_DMD.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Proyecto_DMD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Proyecto_DMD_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto_DMD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto_DMD]
GO
/****** Object:  Table [dbo].[Alimentos]    Script Date: 9/3/2020 1:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alimentos](
	[id_alimento] [int] IDENTITY(1,1) NOT NULL,
	[descrpicion] [varchar](300) NULL,
	[valor_cif] [decimal](18, 0) NULL,
	[id_fecha] [varchar](3) NULL,
	[id_pais] [varchar](5) NULL,
	[id_producto] [varchar](9) NULL,
 CONSTRAINT [PK__Alimento__4E3E80DF8F869882] PRIMARY KEY CLUSTERED 
(
	[id_alimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fecha]    Script Date: 9/3/2020 1:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fecha](
	[id_fecha] [varchar](3) NOT NULL,
	[annio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[annio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 9/3/2020 1:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pais](
	[id_pais] [varchar](5) NOT NULL,
	[pais] [varchar](200) NULL,
 CONSTRAINT [PK__Pais__0941A3A7049BD26D] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Pais__833F4FBF1FE01395] UNIQUE NONCLUSTERED 
(
	[pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/3/2020 1:32:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [varchar](9) NOT NULL,
	[codigo_arancelario] [varchar](11) NULL,
 CONSTRAINT [PK__Producto__FF341C0DD898AD69] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Producto__A8557207A6F77037] UNIQUE NONCLUSTERED 
(
	[codigo_arancelario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Alimentos]  WITH CHECK ADD  CONSTRAINT [FK_alimento_fecha] FOREIGN KEY([id_fecha])
REFERENCES [dbo].[Fecha] ([id_fecha])
GO
ALTER TABLE [dbo].[Alimentos] CHECK CONSTRAINT [FK_alimento_fecha]
GO
ALTER TABLE [dbo].[Alimentos]  WITH CHECK ADD  CONSTRAINT [FK_alimento_pais] FOREIGN KEY([id_pais])
REFERENCES [dbo].[Pais] ([id_pais])
GO
ALTER TABLE [dbo].[Alimentos] CHECK CONSTRAINT [FK_alimento_pais]
GO
ALTER TABLE [dbo].[Alimentos]  WITH CHECK ADD  CONSTRAINT [FK_alimento_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Alimentos] CHECK CONSTRAINT [FK_alimento_producto]
GO
USE [master]
GO
